.bet-chip-animation {
    transition: transform .3s ease;
}
.transform-none {
    transform: none;
}

.play-message {
    animation-name: play-message;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes fading-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0
    }
}

@keyframes show-message {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: translateZ(0) ;
    }
    50% {
        transform: translateZ(100px);
    }
    100% {
        transform: translateZ(0);
    }
}

@keyframes discard {
    0% {
        transform: translateX(100vw) translateY(100vh);
    }
    100% {
        transform: translateX(100vw) translateY(100vh);
    }
}

@keyframes deal-card {
    0% {
        transform-origin: center center center;
        transform: rotateY(180deg) translateX(-100vw) translateY(-100vh) translateZ(100px) rotateZ(540deg);
    }
    25% {
        transform-origin: center center center;
        transform: rotateY(180deg) translateX(0) translateY(0) translateZ(100px) rotateZ(0);
    }
    50% {
        transform-origin: center center 100px;
        transform: rotateY(180deg) translateX(0) translateY(0) translateZ(100px);
    }
    75% {
        transform-origin: center center 100px;
        transform: rotateY(0) translateX(0) translateY(0) translateZ(100px);
    }
    100% {
        transform-origin: center center center;
        transform: rotateY(0) translateX(0) translateY(0) translateZ(0);
    }
}

@keyframes deal-card-facedown {
    0% {
        transform-origin: center center center;
        transform: rotateY(180deg) translateX(-100vw) translateY(-100vh) rotateZ(540deg);
    }
    100% {
        transform-origin: center center center;
        transform: rotateY(180deg) translateX(0) translateY(0) rotateZ(0);
    }
}

@keyframes reveal-card {
    0% {
        transform-origin: center center center;
        transform: rotateY(180deg) translateX(0) translateY(0) translateZ(10rem) rotateZ(0);
        z-index: -1;
    }
    50% {
        transform-origin: center center center;
        transform: rotateY(0) translateX(0) translateY(0) translateZ(10rem);
        z-index: 0;
    }
    100% {
        transform-origin: center center center;
        transform: rotateY(0) translateX(0) translateY(0) translateZ(10rem);
        z-index: 0;
    }
}

@keyframes count-blackjack {
    0% {
        transform: rotate(0);
        color: #000;
    }
    40% {
        transform: rotate(7deg);
        color: #239c1f;
    }
    60% {
        transform: rotate(7deg);
        color: #239c1f;
    }
    100% {
        transform: rotate(0);
        color: #000;
    }
}

@keyframes bet-chip-wrapper-expanding {
    0% {
        width: 0;
    }
    100% {
        width: 50px;
    }
}

@keyframes bet-chip-wrapper-shrinking {
    0% {
        width: 50px;
    }
    100% {
        width: 0;
    }
}