@import "animations";

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, #4ca2ab 0%, #17874c 100%);
    height: 100vh;
    overflow: hidden;
}

.hidden {
    display: none !important;
}

.disable-clicks {
    pointer-events: none;
}

#message-wrapper {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .message {
        position: relative;
        top: -10rem;

        .message-text {
            font-weight: bold;
            color: #fff;
            font-size: 3rem;
            text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
        }
    }
}

.prompt-container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%);
    z-index: 1;

    .prompt-content {
        width: 100%;
        max-width: 650px;
        background: black;
        padding: 4rem 2rem;
        border-radius: .5rem;
        box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
        position: relative;
        top: -12%;

        > p {
            color: #fff;
            font-size: 2rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        .prompt-btns {
            display: flex;
            justify-content: center;

            .btn {
                height: 5rem;
                max-width: 30rem;
                width: 100%;
            }
        }
    }

}

#table-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;

    #dealer-container {
        margin-top: 2rem;

        #dealer-hand {
            margin-bottom: 2rem;

            .hand-cards{
                display: flex;
                justify-content: center;
                align-items: center;

                .hand-cards-inner {

                    min-width: 10rem;
                    position: relative;
                    height: 14rem;

                    .card:first-child {
                        // z-index: 1;
                    }
                }

                .hand-card-count {
                    font-size: 2rem;
                    margin: 0 0 0 4rem;
                    padding: .5rem 1rem;
                    background: #fff;
                    color: #000;
                    border-radius: .75rem;
                    font-weight: bold;
                }
            }
        }

        #insurance {

            #insurance-inner {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-right: 50rem;

                #insurance-amount {
                    text-align: center;
                    color: #fff;
                    font-size: 1.5rem;
                    background: #000;
                    margin: 0 auto 2rem;
                    max-width: 7rem;
                    border-radius: .75rem;
                    padding: .5rem 1rem;
                    width: 100%;
                }

                #insurance-chips {
                    height: 5rem;
                    width: 5rem;
                }
            }
        }
    }

    #player-footer-container {

        #player-container {

            #player-hands {

                .hand {

                    .hand-bet-amount {
                        text-align: center;
                        color: #fff;
                        font-size: 1.5rem;
                        background: #000;
                        display: block;
                        margin: 0 auto 2rem;
                        max-width: 7rem;
                        border-radius: .75rem;
                        padding: .5rem 1rem;
                        opacity: 1;
                    }

                    .hand-chips {
                        position: relative;
                        height: 5rem;
                        width: 5rem;
                        margin: 0 auto 2rem;

                        .chip-bet {

                        }
                    }

                    .hand-cards {
                        margin-bottom: 2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        .hand-cards-inner {
                            min-width: 10rem;
                            position: relative;
                            height: 14rem;

                            .card {
                                position: absolute;
                            }
                        }

                        .hand-card-count {
                            color: #fff;
                            font-size: 2rem;
                            margin: 0 0 0 4rem;
                            padding: .5rem 1rem;
                            background: #fff;
                            color: #000;
                            border-radius: .75rem;
                            font-weight: bold;
                        }

                    }

                    .hand-indicator {

                    }

                    .hand-indicator.active::before {
                        content: '';
                        display: block;
                        width: 0; 
                        height: 0; 
                        border-left: 15px solid transparent;
                        border-right: 15px solid transparent;
                        border-bottom: 15px solid #a51111;
                        margin: 0 auto;
                    }
                }

            }

        }

        #footer {
            text-align: center;
            width: 100%;
        
            #bet-container {
        
                #bet-chips {
                    display: flex;
                    height: 5rem;
                    justify-content: center;
        
                    .bet-chip-wrapper {
                        max-width: 5rem;
                        width: 100%;
                        transition: all .3s ease;
                    }
        
                    .bet-chip-wrapper-expanding {
                        animation-name: bet-chip-wrapper-expanding;
                        animation-duration: .3s;
                        animation-timing-function: ease;
                    }
        
                    .bet-chip-wrapper-shrinking {
                        animation-name: bet-chip-wrapper-shrinking;
                        animation-duration: .3s;
                        animation-timing-function: ease;
                    }
                }

                #bet-chips.collapsed {
                    height: 0;
                }
        
                #bet {
                    color: #fff;
                    font-size: 2rem;
                    user-select: none;
                    margin-bottom: 1rem;
                }
            }
        
            #bank {
                color: #fff;
                font-size: 5rem;
                user-select: none;
        
                #bank-amount {
                    
                }
            }
        
            #bottom-bar {
                background: #6b4141;
                padding: 2rem 0;
        
                #chips-container {
                    background: #583636;
                    width: 90%;
                    margin: 0 auto 1rem;
                    padding: 1rem;
                    border-radius: 50px;
                    user-select: none;
        
                    .chip-wrapper {
                        display: inline-block;
                        position: relative;
        
                        .chip {
                            border-radius: 50%;
                            color: #212121;
                            height: 5rem;
                            width: 5rem;
                            user-select: none;
                        }
                        
                        .chip:focus {
                            outline: none;
                        }
        
                        .chip-discard {
                            position: absolute;
                            top: 0;
                        }
        
                    }
                }
            
                #btns-container {
                    min-height: 5rem;
                    
                    #dbl-stand-hit, #deal {
                        display: flex;
                        justify-content: center;
                    }
        
                    .btn-wrapper {
                        max-width: 30rem;
                        width: 33.333%;
        
                        .btn {
                            height: 5rem;
                            max-width: 30rem;
                            width: 100%;
                            user-select: none;
                        }
                    }
                }
            }
        }
    }
}

        .chip-bet {
            align-items: center;
            background: #fff;
            border-radius: 50%;
            color: #212121;
            display: flex;
            height: 5rem;
            justify-content: center;
            position: absolute;
            user-select: none;
            width: 5rem;
        }
    
        #chip--1, .chip-bet--1 {
            border: .6rem dashed #b0b0b0;
        }
    
        #chip--5, .chip-bet--5 {
            border: .6rem dashed #c93030;
        }
    
        #chip--10, .chip-bet--10 {
            border: .6rem dashed #3048c7;
        }
    
        #chip--25, .chip-bet--25 {
            border: .6rem dashed #239c1f;
        }
    
        #chip--100, .chip-bet--100 {
            border: .6rem dashed #3d3d3d;
        }

.card {
    // animation-name: spin;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
    height: 14rem;
    position: absolute;
    transform-origin: center;
    transform-style: preserve-3d;
    width: 10rem;

    .card__face {
        backface-visibility: hidden;
        border-radius: 5px;
        height: 100%;
        position: absolute;
        width: 100%;
    }

    .card__face--front {
        background-color: white;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);

        .card-info--top,
        .card-info--bottom {
            display: flex;
            justify-content: space-between;
            padding: .5rem .5rem 0;

            .card-name-suit {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;

                .card-name {
                    font-size: 1.6rem;
                }
            }
        }

        .card-info--bottom {
            transform: rotate(180deg);
        }


    }

    .card__face--back {
        background-color: red;
        transform: rotateY(180deg);
    }
}

.card--facedown {
    transform: rotateY(180deg);
    z-index: -1;
}

.card--being-dealt {
    animation-name: deal-card;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-100vw) translateY(-100vh) translateZ(0) rotateZ(540deg);
}

.card--being-dealt-facedown {
    animation-name: deal-card-facedown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    transform: translateX(-100vw) translateY(-100vh) translateZ(0) rotateZ(540deg);
}

.card--being-revealed {
    animation-name: reveal-card;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.offscreen--deal {
    transition: all 2s;
    transform: translateX(100vw) translateY(-100vh);
}

.offscreen--discard {
    transition: all 1.5s;
    transform: translateX(100vw) translateY(100vh);
}

.offscreen--discard-chip {
    transition: transform 1s;
    transform: translateX(50vw) translateY(-50vh);
}

.fading-out {
    transition: opacity .5s ease;
    opacity: 0 !important;
}

.test-wrap-1,
.test-wrap-2 {
	height: 100px;
	width: 100px;
	border: 1px solid black;
}

.test {
	height: 100%;
	background: red;
}

#div_one {
    width: 50px;
    height: 50px;
    border: 10px solid red;
  }
  
  #div_two {
    width: 50px;
    height: 50px;
    border: 10px solid blue;
  }
  
  @keyframes move {
    100% {
      transform: translateX(300px);
    }
  }
  
  @keyframes down {
    100% {
      transform: translateY(300px);
    }
  }
  