*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

#player__hands-container, #dealer__hand-container, #message-overlay, #buttons-container, .chip-container {
    display: flex;
    justify-content: center;
}

#buttons-container, #player__hands-container, #dealer__hand-container {
    margin-bottom: 50px;
}

.hidden {
    display: none;
}